
body {
  background-color: #c2b7d7;
}

.tool-group {
  z-index: 9999;
  position: fixed;
}

.img-grid {

  display: block;
  margin-top: 20px;
  margin-left: 80px;

  > img {
    margin: 3px;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }
  
  &.selectmode {
    > img {
      opacity: 0.4;
      transition: 0.5s;
    }
    
    > img.selected {
      opacity: 1;
      transition: 0.5s;
    }
  }

}

.header {

  text-align: center;

}