$primary-1: #732C3F;
$primary-2: #592331;
$primary-3: #401E24;
$light: #F2D0A7;
$dark: #262626;


/*
$primary-1: #1E7307;
$primary-2: #517307;
$primary-3: #F2B807;
$light: #F2F2F2;
$dark: #3B3659;
*/

/*
$primary-1: #1D1840;
$primary-2: #382F73;
$primary-3: #3A30B0;
$light: #B294F2;
$dark: #322243;
*/